/* supports-version:17.4 */
/* NARGA Tiny Tiny RSS Theme
 * Elegant Style inspirated from Feedly, The Old Reader and others for better reading.
 */
@import "../css/default.css";

/* RESET */
:focus {
	outline: none;
}

input[type="search"] {
	-webkit-appearance: none;
}

textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.claro .dijitBorderContainer,
.claro .dijitSplitContainer-dijitContentPane,
.claro .dijitBorderContainer-dijitContentPane {
	padding: 0;
}

img,
.claro .dijitSplitContainer-child,
.claro .dijitBorderContainer-child {
	border: 0;
}

/* Typography */
body#ttrssMain, body#ttrssPrefs, body#ttrssLogin, body {
	color: #444;
	Bookerly, "San Francisco", Candara, "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.player,
body#ttrssMain #feedTree,
div.postReply div.postTitle,
.hl div.hlTitle a,
div#floatingTitle a.title,
div.cdm.expandable div.cdmHeader a.title, div.cdm.expandable.active div.cdmHeader a.title, div.cdm.expanded div.cdmHeader a.title, 
#main-toolbar .actionChooser * {
	text-rendering: optimizelegibility;
	Bookerly, "San Francisco", Candara, "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif;
}

hr {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #ccc;
}

a {
	color: #5b4;
}

a:hover {
	text-decoration: underline;
}


/* Pre, Code font */
#content-insert code, #headlines-frame code, .dijitContentPane code {
	color: #009900;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	font-size: 12px;
}

/* Loading Process */
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #fff;
	text-align: center;
}

#overlay:before {
	height: 90%;
	content: "";
}

#overlay:before,
#overlay_inner {
	display: inline-block;
	vertical-align: middle;
}

#overlay_inner .insensitive {
	margin: 0 0 20px;
	color: #41924b;
	padding: 1em;
	text-align: center;
	font-weight: bold;
}

#overlay_inner .dijitProgressBar {
	margin: -10px 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

#overlay_inner .dijitProgressBarFull {
	border: 0;
}

#overlay_inner .dijitProgressBarTile {
	background: #41924b;
}

#overlay_inner .dijitProgressBarLabel {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}

/* Feed Tree Count */
body#ttrssMain #feedTree .counterNode {
	display : inline-block;
	font-size : 10px;
	text-align : center;
	border : 1px solid #41924b;
	color : white;
	background : #41924b;
	border-radius : 4px;
	vertical-align : middle;
	float : right;
	position : relative;
	line-height : 14px;
	margin-right : 8px;
	margin-top : 3px;
	min-width : 23px;
	height : 14px;
}

body#ttrssMain #feedTree .counterNode.aux {
	background : #DFF2BF;
	color : #41924b;
	border-color : #41924b;
}

/* Feed Tree Scrollbar Intelihide */
body#ttrssMain #feedTree { 
	height : 100%;
	overflow : hidden;
    padding-right:12px;
}

body#ttrssMain #feedTree:hover { 
    overflow-y: visible;
    padding-right:0;
}

#main,
#feeds-holder,
#main #headlines-wrap-inner .dijitSplitter {
	background: #eee;
}
#main .dijitSplitterHover,
#main .dijitSplitterActive {
	background: transparent;
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Main Toolbar */
#main-toolbar {
	background : #F0F0F0;
	border-width : 0px 0px 1px 0px;
	border-color : #ddd;
	border-style : solid;
	padding-left : 4px;
	height : 26px;

}

/* Feed Group Title Background */
.cdmFeedTitle {
    background-color : #ecf4ff !important;
}

/* right panel paragraph with, max-width : 650px; */
.cdmContentInner {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
    	text-align: justify;
   	 padding: 0 25px;
}

/* Items list background color change when hover the mouse */
#headlines-frame.wide .hl:hover > * {
	background: transparent; /* only .hlTitle should have background color (next rule) */
}
.cdm.expandable:not(.active):hover .cdmHeader,
.hl:hover > *,
#headlines-frame.wide .hl:hover > *,
.collapseBtn:hover {
	background: rgba(0,0,0,.033);
	cursor: pointer;
}

/* Item attributes color: selected, marked, published */
./* select item with content area */
div.cdmContent, div.postContent {
    background:#FBFAF3;
}

.cdm.expandable:not(.active),
.hl {
    border-width: 0px 0px 1px 0px;
}

.hl.Selected, .hl.marked, .hl.published {
    border-width: 1px 0px 1px 0px;
}

cdm.expandable.Selected:not(.active),
.hl.Selected {
	z-index: 2;
   	border-color: #41924b;
	background: #AFEAAA;
}

.cdm.expandable.marked:not(.active),
.hl.marked {
	z-index: 2;
	border-color: #E9B31B;
	background: #FFFF99;
}

.cdm.expandable.published:not(.active),
.hl.published {
	z-index: 2;
	border-color: #EF7351;
	background-color: #ffcccc;
}

/* Label coloured */
#feeds-holder img.feedIcon,
#feeds-holder .labelColorIndicator {
	position: relative;
	top: -1px;
	margin: 0 4px 0 0;
	vertical-align: middle;
}
.labelColorIndicator,
.labelColorIndicator2,
.hlLabelRef {
	display: inline-block;
	border-radius: 99px;
	background-color: #fec;
	color: #444;
	font-weight: bold;
}
.labelColorIndicator,
.labelColorIndicator2 {
	width: 13px;
	height: 13px;
	border: 1px solid rgba(0,0,0,.1);
	text-align: center;
	font-size: 10px;
	line-height: 1;
}

/* Feed Group Title Background */
div.cdmFeedTitle {
    background-color : #eeeeee !important;
    border-color: #ddd !important;
}

/* Items list background color change when hover the mouse */
#headlines-frame.wide .hl:hover > * {
	background: transparent; /* only .hlTitle should have background color (next rule) */
}
.cdm.expandable:not(.active):hover .cdmHeader,
.hl:hover > *,
#headlines-frame.wide .hl:hover > *,
.collapseBtn:hover {
	background: rgba(0,0,0,.033);
	cursor: pointer;
}

/* Content Panel */
.postDate, .postTags, .postComments {
    font-size: 10px;
}

.postReply .postTitle {
    white-space: unset !important;
}

/* Notification */
#notify {
	display: table;
	bottom: -80px;
	right: 10px;
	border: 0;
	border-radius: 6px;
	position: fixed;
	font-size: 12px;
	z-index: 99;
	max-width: 270px;
	min-width: 100px;
	padding: 5px;
	-width: 200px;
	transition: bottom .3s ease-in-out;
}

#notify.visible {
	bottom: 10px;
}

#notify span.msg {
	width: 100%;
	word-break: break-word;
}

#notify span.close {
	text-align: right;
}

#notify span {
	display: table-cell;
	vertical-align: middle;
	padding: 4px;
}

.notify {
	border-color: #d7c47a;
	background-color: #fff7d5;
}

.notify.progress {
	border-color: #d7c47a;
	background-color: #fff7d5;
}

.notify.info {
	border-color: #88b0f0;
	background-color: #ecf4ff;
}

.notify.error {
	background-color: #ffcccc;
	border-color: #ff0000;
}

#notify img {
	vertical-align: middle;
	max-height: 14px;
	background-size: auto 100%;
	height: 16px;
	padding-right: 16px;
	width: 0;
	display: inline-block;
}

#notify img[src*='images/indicator_white.gif'] {
	background: url(https://raw.githubusercontent.com/Narga/tt-rss-narga-theme/master/images/spinner.gif) no-repeat;
}

#notify img[src*='images/cross.png'] {
	background: url('https://raw.githubusercontent.com/Narga/tt-rss-narga-theme/master/images/close.png') no-repeat;
}

#notify img[src*='images/alert.png'] {
	background: url(https://raw.githubusercontent.com/Narga/tt-rss-narga-theme/master/images/ban.png) no-repeat;
}

